<?xml version="1.0" encoding="utf-8" ?>

<sqlVarsConfig>
  <add key="DatabaseName" value="CALI"/>
  <add key="AccountName" value="CALIUser"/>
  <add key="UseWindowsAuth" value="0"/>
  <add key="SQLAccountPassword" value="ThisIsASecurePassw0rd!"/>
  <add key="IncludeTestData" value="1"/>
</sqlVarsConfig>